# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

node_modules
nbproject

# Project Files #

.tern-project
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

*-uploaded

README.md
